In [30]:
import pandas as pd
# from pandas.io.json import json_normalize

In [31]:
df = pd.read_csv('/Users/richard.mcmaster/Documents/Plista/Analytics/SQL/data_export/line_items.csv')

In [32]:
df.head()

,seat,id,insertion_order_id,name,state,currency,advertiser_id,profile_id,revenue_type,goal_type,...,labels,line_item_first_run,line_item_last_run,line_item_goal_type,line_item_inventory_type,line_item_member_id,line_item_payout_margin,line_item_prefer_delivery_over_performance,line_item_require_cookie_for_tracking,li_ad_types
0,7456,11659734,4279822.0,2020.EWO.LENZEN.0405.ONL-1.0 #168365 ~ _wav_whitelist_spread_cp_lenzen_all_all_nl_nl_28042020_cp_ ~ Tablet ~ Umfeld Delivery,active,EUR,2905517,121039235.0,cpm,cpc,...,NaN,NaN,NaN,cpc,both,7456,NaN,True,True,"[""native""]"
1,7456,12160587,4550046.0,ANWB ADR Zomer 2020 - Desktop Performance,active,EUR,2880409,121951189.0,cpm,cpc,...,NaN,NaN,NaN,cpc,both,7456,NaN,False,True,"[""native""]"
2,7456,11219740,3913585.0,ds_nl_plista_vn_ds7crossback_1sx8_ongoing_aff-afp_s_tf #153833 Voorraad ~ Mobile - Performance,active,EUR,3327672,120077320.0,cpm,cpc,...,NaN,NaN,NaN,cpc,both,7456,NaN,False,True,"[""native""]"
3,7456,11476959,4117429.0,Toyota Q2NG-04-2020 RAV4 Hybrid #047278 ~ Desktop ~ Performance,inactive,EUR,2914604,120653711.0,cpm,cpc,...,NaN,NaN,NaN,cpc,both,7456,NaN,False,True,"[""native""]"
4,7456,12160591,4550046.0,ANWB ADR Zomer 2020 - Mobile Performance,active,EUR,2880409,121951193.0,cpm,cpc,...,NaN,NaN,NaN,cpc,both,7456,NaN,False,True,"[""native""]"

In [57]:
df_labels = df.loc[df.id == 12265238, ['id', 'labels']]
pd.set_option('display.max_colwidth', 150)
df_labels.head()

# (12224047, 12265238)
# df_labels.info()

,id,labels
14961,12265238,"[{""id"": 7, ""member_id"": 3563, ""value"": ""VM"", ""name"": ""Trafficker""}, {""id"": 11, ""member_id"": 3563, ""value"": ""RIA"", ""name"": ""Line Item Type""}]"

In [58]:
# df_labels['labels'] = df_labels['labels'].astype('str') 
df_labels.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 14961 to 14961
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1 non-null      int64
 1   labels  1 non-null      object
dtypes: int64(1), object(1)
memory usage: 24.0+ bytes

In [38]:
json_normalize(df_labels['labels'])

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

AttributeError: 'str' object has no attribute 'values'

In [19]:
works_data = pd.json_normalize(data=df_labels['labels'], 
                            meta=['name', 'value'])
works_data.head(3)

AttributeError: 'float' object has no attribute 'values'

In [21]:
# Python program to convert list of nested 
# dictionary into Pandas dataframe 


# List of list of dictionary initialization 
list = [ 
		{ 
		"Student": [{"Exam": 90, "Grade": "a"}, 
					{"Exam": 99, "Grade": "b"}, 
					{"Exam": 97, "Grade": "c"}, 
				], 
		"Name": "Paras Jain"
		}, 
		{ 
		"Student": [{"Exam": 89, "Grade": "a"}, 
					{"Exam": 80, "Grade": "b"} 
				], 
		"Name": "Chunky Pandey"
		} 
	] 

print(list)

[{'Student': [{'Exam': 90, 'Grade': 'a'}, {'Exam': 99, 'Grade': 'b'}, {'Exam': 97, 'Grade': 'c'}], 'Name': 'Paras Jain'}, {'Student': [{'Exam': 89, 'Grade': 'a'}, {'Exam': 80, 'Grade': 'b'}], 'Name': 'Chunky Pandey'}]

In [22]:
# rows list initialization 
rows = [] 

# appending rows 
for data in list: 
	data_row = data['Student'] 
	time = data['Name'] 
	
	for row in data_row: 
		row['Name']= time 
		rows.append(row) 

print(rows)

[{'Exam': 90, 'Grade': 'a', 'Name': 'Paras Jain'}, {'Exam': 99, 'Grade': 'b', 'Name': 'Paras Jain'}, {'Exam': 97, 'Grade': 'c', 'Name': 'Paras Jain'}, {'Exam': 89, 'Grade': 'a', 'Name': 'Chunky Pandey'}, {'Exam': 80, 'Grade': 'b', 'Name': 'Chunky Pandey'}]

In [23]:
# using data frame 
df = pd.DataFrame(rows) 

# using pivot_table 
df = df.pivot_table(index ='Name', columns =['Grade'], values =['Exam']).reset_index()  
df

                Name  Exam
Grade                    a     b     c
0      Chunky Pandey  89.0  80.0   NaN
1         Paras Jain  90.0  99.0  97.0

In [20]:
# Defining columns 
df.columns =['Name', 'Maths', 'Physics', 'Chemistry'] 

# print dataframe 
print(df)

            Name  Maths  Physics  Chemistry
0  Chunky Pandey   89.0     80.0        NaN
1     Paras Jain   90.0     99.0       97.0

In [49]:
import json
stdf = df_labels['labels'].apply(json.loads)
print(stdf)
# pd.DataFrame(stdf.tolist()) # or stdf.apply(pd.Series)

14961    [{'id': 7, 'member_id': 3563, 'value': 'VM', 'name': 'Trafficker'}, {'id': 11, 'member_id': 3563, 'value': 'RIA', 'name': 'Line Item Type'}]
Name: labels, dtype: object

In [47]:
import ast
df_labels['uniq'] = [list(set([y['name'] for y in x])) for x in df_labels['labels'].apply(ast.literal_eval)]

TypeError: 'list' object is not callable

In [46]:
for x in df_labels['labels']:
    print(x)

# df_labels

[{"id": 7, "member_id": 3563, "value": "VM", "name": "Trafficker"}, {"id": 11, "member_id": 3563, "value": "RIA", "name": "Line Item Type"}]

In [51]:
pd.json_normalize(df_labels['labels'], meta = ['name','value'])

AttributeError: 'str' object has no attribute 'values'

In [52]:
from pandas.core.common import flatten
# list(flatten(df_labels['labels']))

TypeError: 'list' object is not callable

In [54]:
print(flatten(df_labels['labels']))

<generator object flatten at 0x122efc050>

In [60]:
s = pd.Series([y['name'] for x in df_labels['labels'] for y in x])
print(s)

TypeError: string indices must be integers