In [2]:
import pandas as pd
from datetime import date, datetime, timedelta
import random
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from faker import Faker
fake = Faker()

In [3]:
def randIntList(ltg, rng_st, rng_end):
    return [random.randint(rng_st, rng_end) for i in range(ltg)]

In [3]:
def sampleCust(n, id):
    '''Generates a customer dimension of n customers, starting from customer ID id'''
    cust_dict = {}
    cust_dict["customer_id"] = [i for i in range(id, id+n)]
    cust_dict["customer_name"] = [fake.name() for i in range(0, n)]
    cust_dict["customer_address"] = [fake.address() for i in range(0, n)]
    return cust_dict

In [4]:
%%bash
cd /Users/richard.mcmaster/Documents/Plista/Analytics
pwd

/Users/richard.mcmaster/Documents/Plista/Analytics

In [5]:
customer_df = pd.DataFrame(sampleCust(100000, 300000))
customer_df.head()
customer_df.to_csv('dim_customer_sample.csv', index=False)

,customer_id,customer_name,customer_address
0,300000,Jeffrey Donaldson,"PSC 8696, Box 7315\nAPO AE 23084"
1,300001,Tina Blair,Unit 1775 Box 9727\nDPO AE 80352
2,300002,Tanner Stephens,"27238 Williams Ports\nLake Patricia, AZ 43330"
3,300003,Maurice Williams,"26282 Brown Square\nRodriguezton, NE 76657"
4,300004,James Jimenez,"4543 Meyer Court Suite 095\nKellybury, IN 89958"

In [4]:
def sampleSales(n=1000, start_date=date(2018, 6, 1), end_date=date(2019, 11, 30)):
    '''Generates a sales fact table of n sales, in specified date range, with 20 products and 1000 customers'''
    sales_dict = {}
    sales_dict["sales_date"] = [start_date + timedelta(days=random.randint(0, (end_date-start_date).days)) for i in range(0, n)]
    sales_dict["product_id"] = randIntList(n, 40001, 40020)
    sales_dict["customer_id"] = randIntList(n, 300001, 400000)
    sales_dict["sales_amount"] = [random.uniform(10.5,100.5) for i in range(0, n)]
    return sales_dict

In [5]:
sales_df = pd.DataFrame(sampleSales(n=10000000, start_date=date(2018, 1, 1), end_date=date(2019, 11, 30)))

In [6]:
f'{len(sales_df):,}'
sales_df.head()

'10,000,000'

   sales_date  product_id  customer_id  sales_amount
0  2019-10-03       40014       309530     35.173247
1  2019-06-12       40003       317886     77.202493
2  2019-10-28       40011       303073     34.482907
3  2019-10-21       40016       348482     22.939194
4  2018-08-21       40002       377055     56.345857

In [7]:
sales_df.to_csv('fact_sales_sample.gz', index=False, compression='gzip')