In [1]:
import pandas as pd

url2 = 'https://unstats.un.org/unsd/methodology/m49/'
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)'
df_list = pd.read_html(url)

In [2]:
df = df_list[3]
df.rename(columns = {'Country/Territory':'Country'}, inplace = True)
df.head(20)

,Country,UN continentalregion[4],UN statisticalsubregion[4],Population(1 July 2018),Population(1 July 2019),Change
0,China[a],Asia,Eastern Asia,1427647786,1433783686,+0.43%
1,India,Asia,Southern Asia,1352642280,1366417754,+1.02%
2,United States,Americas,Northern America,327096265,329064917,+0.60%
3,Indonesia,Asia,South-eastern Asia,267670543,270625568,+1.10%
4,Pakistan,Asia,Southern Asia,212228286,216565318,+2.04%
5,Brazil,Americas,South America,209469323,211049527,+0.75%
6,Nigeria,Africa,Western Africa,195874683,200963599,+2.60%
7,Bangladesh,Asia,Southern Asia,161376708,163046161,+1.03%
8,Russia,Europe,Eastern Europe,145734038,145872256,+0.09%
9,Mexico,Americas,Central America,126190788,127575529,+1.10%
10,Japan,Asia,Eastern Asia,127202192,126860301,−0.27%
11,Ethiopia,Africa,Eastern Africa,109224414,112078730,+2.61%
12,Philippines,Asia,South-eastern Asia,106651394,108116615,+1.37%
13,Egypt,Africa,Northern Africa,98423598,100388073,+2.00%
14,Vietnam,Asia,South-eastern Asia,95545962,96462106,+0.96%
15,DR Congo,Africa,Middle Africa,84068091,86790567,+3.24%
16,Germany,Europe,Western Europe,83124418,83517045,+0.47%
17,Turkey,Asia,Western Asia,82340088,83429615,+1.32%
18,Iran,Asia,Southern Asia,81800188,82913906,+1.36%
19,Thailand,Asia,South-eastern Asia,68863514,69037513,+0.25%

In [3]:
new = df["Country"].str.split("[", n = 1, expand = True) 
df['Country2'] = new[0]
df.drop(columns='Country', inplace=True)

In [4]:
df.rename(columns = {'Country2':'Country', 'UN continentalregion[4]':'Continent', 'UN statisticalsubregion[4]': 'Region'}, inplace = True)
df.head()

,Continent,Region,Population(1 July 2018),Population(1 July 2019),Change,Country
0,Asia,Eastern Asia,1427647786,1433783686,+0.43%,China
1,Asia,Southern Asia,1352642280,1366417754,+1.02%,India
2,Americas,Northern America,327096265,329064917,+0.60%,United States
3,Asia,South-eastern Asia,267670543,270625568,+1.10%,Indonesia
4,Asia,Southern Asia,212228286,216565318,+2.04%,Pakistan

In [100]:
df3.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Link to ISO 3166-2 subdivision codes,Independent
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Yes
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,No
2,Albania,AL,ALB,8,ISO 3166-2:AL,Yes
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Yes
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,No

In [8]:
df4 = pd.read_csv('countries.tsv', sep='\t')
df4.rename(columns = {'country':'Country'}, inplace=True)
df4.head()

,cca2,Country,officialName,tld,tlds,cca3,currencies,capital,languages,region,subregion,eu
0,AF,Afghanistan,Islamic Republic of Afghanistan,af,.af,AFG,AFN,Kabul,"prs,pus,tuk",Asia,Southern Asia,NaN
1,AX,Åland Islands,Åland Islands,ax,.ax,ALA,EUR,Mariehamn,swe,Europe,Northern Europe,NaN
2,AL,Albania,Republic of Albania,al,.al,ALB,ALL,Tirana,sqi,Europe,Southern Europe,NaN
3,DZ,Algeria,People's Democratic Republic of Algeria,dz,".dz,الجزائر.",DZA,DZD,Algiers,ara,Africa,Northern Africa,NaN
4,AS,American Samoa,American Samoa,as,.as,ASM,USD,Pago Pago,"eng,smo",Oceania,Polynesia,NaN

In [96]:
df_list2 = pd.read_html(url2)
df2 = df_list2[0]

In [97]:
url3 = 'https://en.wikipedia.org/wiki/ISO_3166-1'
df_list3 = pd.read_html(url3)
df3 = df_list3[1]
df3.rename(columns = {'English short name (using title case)':'Country'}, inplace = True)

df3['Country'] = df3['Country'].replace(['Russian Federation','United Republic of Tanzania'],['Russia','Tanzania'])

In [98]:
# df3.loc[df3['Change'].isnull(),'Country'].head(30)

KeyError: 'Change'

In [ ]:
df3['Country'] = df3['Country'].replace(['Russian Federation','United States of America'],['Russia','United States'])
df_fin = pd.merge(df, df3, on='Country', how='left')
df_fin.loc[df_fin['Independent'].isnull(),['Country']].head(20)

In [10]:
df_fin = pd.merge(df, df4, on='Country', how='left')
df_fin.head(20)

,Continent,Region,Population(1 July 2018),Population(1 July 2019),Change,Country,cca2,officialName,tld,tlds,cca3,currencies,capital,languages,region,subregion,eu
0,Asia,Eastern Asia,1427647786,1433783686,+0.43%,China,CN,People's Republic of China,cn,".cn,.中国,.中國,.公司,.网络",CHN,CNY,Beijing,cmn,Asia,Eastern Asia,NaN
1,Asia,Southern Asia,1352642280,1366417754,+1.02%,India,IN,Republic of India,in,.in,IND,INR,New Delhi,"eng,hin,tam",Asia,Southern Asia,NaN
2,Americas,Northern America,327096265,329064917,+0.60%,United States,US,United States of America,us,.us,USA,"USD,USN,USS",Washington D.C.,eng,Americas,Northern America,NaN
3,Asia,South-eastern Asia,267670543,270625568,+1.10%,Indonesia,ID,Republic of Indonesia,id,.id,IDN,IDR,Jakarta,ind,Asia,South-Eastern Asia,NaN
4,Asia,Southern Asia,212228286,216565318,+2.04%,Pakistan,PK,Islamic Republic of Pakistan,pk,.pk,PAK,PKR,Islamabad,"eng,urd",Asia,Southern Asia,NaN
5,Americas,South America,209469323,211049527,+0.75%,Brazil,BR,Federative Republic of Brazil,br,.br,BRA,BRL,Brasília,por,Americas,South America,NaN
6,Africa,Western Africa,195874683,200963599,+2.60%,Nigeria,NG,Federal Republic of Nigeria,ng,.ng,NGA,NGN,Abuja,eng,Africa,Western Africa,NaN
7,Asia,Southern Asia,161376708,163046161,+1.03%,Bangladesh,BD,People's Republic of Bangladesh,bd,.bd,BGD,BDT,Dhaka,ben,Asia,Southern Asia,NaN
8,Europe,Eastern Europe,145734038,145872256,+0.09%,Russia,RU,Russian Federation,ru,".ru,.su,.рф",RUS,RUB,Moscow,rus,Europe,Eastern Europe,NaN
9,Americas,Central America,126190788,127575529,+1.10%,Mexico,MX,United Mexican States,mx,.mx,MEX,MXN,Mexico City,spa,Americas,Central America,NaN
10,Asia,Eastern Asia,127202192,126860301,−0.27%,Japan,JP,Japan,jp,".jp,.みんな",JPN,JPY,Tokyo,jpn,Asia,Eastern Asia,NaN
11,Africa,Eastern Africa,109224414,112078730,+2.61%,Ethiopia,ET,Federal Democratic Republic of Ethiopia,et,.et,ETH,ETB,Addis Ababa,amh,Africa,Eastern Africa,NaN
12,Asia,South-eastern Asia,106651394,108116615,+1.37%,Philippines,PH,Republic of the Philippines,ph,.ph,PHL,PHP,Manila,"eng,fil",Asia,South-Eastern Asia,NaN
13,Africa,Northern Africa,98423598,100388073,+2.00%,Egypt,EG,Arab Republic of Egypt,eg,".eg,.مصر",EGY,EGP,Cairo,ara,Africa,Northern Africa,NaN
14,Asia,South-eastern Asia,95545962,96462106,+0.96%,Vietnam,VN,Socialist Republic of Vietnam,vn,.vn,VNM,VND,Hanoi,vie,Asia,South-Eastern Asia,NaN
15,Africa,Middle Africa,84068091,86790567,+3.24%,DR Congo,CD,Democratic Republic of the Congo,cd,.cd,COD,CDF,Kinshasa,"fra,kon,lin,lua,swa",Africa,Middle Africa,NaN
16,Europe,Western Europe,83124418,83517045,+0.47%,Germany,DE,Federal Republic of Germany,de,.de,DEU,EUR,Berlin,deu,Europe,Western Europe,1.0
17,Asia,Western Asia,82340088,83429615,+1.32%,Turkey,TR,Republic of Turkey,tr,.tr,TUR,TRY,Ankara,tur,Asia,Western Asia,NaN
18,Asia,Southern Asia,81800188,82913906,+1.36%,Iran,IR,Islamic Republic of Iran,ir,".ir,ایران.",IRN,IRR,Tehran,fas,Asia,Southern Asia,NaN
19,Asia,South-eastern Asia,68863514,69037513,+0.25%,Thailand,TH,Kingdom of Thailand,th,".th,.ไทย",THA,THB,Bangkok,tha,Asia,South-Eastern Asia,NaN

In [11]:
df_fin.to_excel('world_pop.xlsx')

In [ ]:
df2.to_csv('country_codes.csv')

In [101]:
import pycountry

In [102]:
germany = pycountry.countries.get(alpha_2='DE')
germany

Country(alpha_2='DE', alpha_3='DEU', name='Germany', numeric='276', official_name='Federal Republic of Germany')

In [103]:
russia = pycountry.countries.get(alpha_2='RU')
russia

Country(alpha_2='RU', alpha_3='RUS', name='Russian Federation', numeric='643')

In [ ]:
# check out fuzzy matching on country name:
# https://pypi.org/project/pycountry/