In [1]:
import pandas as pd

df = pd.DataFrame({          
    'A' : ['10:00:00','11:00:00','12:00:00','13:00:00','14:00:00','15:00:00'],
    'B' : ['ABC','DEF','XYZ','ABC','DEF','ABC'],          
    'C' : [1,1,1,2,2,3],            
    })

In [2]:
df

          A    B  C
0  10:00:00  ABC  1
1  11:00:00  DEF  1
2  12:00:00  XYZ  1
3  13:00:00  ABC  2
4  14:00:00  DEF  2
5  15:00:00  ABC  3