In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('london_streets.csv')

In [6]:
df.head()

    Latitude  Longitude
0  51.520599  -0.147700
1  51.511284  -0.140709
2  51.536388  -0.140556
3  51.502777  -0.151250
4  51.503223  -0.127500

In [11]:
BBox = (df.Latitude.min(), df.Latitude.max(), df.Longitude.min(),   df.Longitude.max())

In [13]:
BBox

(51.48737, 51.573174, -0.177331, -0.0072900000000000005)